* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-bg:#222;
    --text-w: #fff;
    --green-bg: #8cbb1f;
    --text-dark: #222;
}

body {
    height: 100vh;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

/* HEADER START */

.header {
    position: relative;
    width: 100vw;
    background-color: var(--dark-bg);
    color: var(--text-w);
    padding: 1rem 1rem 1rem 5rem;
    border: 1px solid var(--text-w);
}

.header h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.header h4 {
    font-size: 1.2rem;
    padding-left: .5rem;
    font-weight: 100;
    opacity: .7;
}

.bg-img {
    position: relative;
    width: 100%;
    height: 4rem;
    border: 1px solid var(--text-w);
    background-image: url('/herobg.jpeg');
}

.bg-img img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
}

.bg-green {
    position: relative;
    width: 100%;
    height: 4rem;
    background-color: var(--green-bg);
    border: 1px solid var(--text-w);
}

/* HEADER END */

/* LOGIN PAGE START */

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    background-color: var(--dark-bg);
    width: 600px;
    padding: 2rem;
    border-radius: 10px;
    color: var(--text-w);
}

.login-page h2 {
    margin: 2rem;
    font-size: 2.5rem;
}

.user-name, .password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1rem 0;
    font-size: 1.3rem;
}

.user-name label, .password label {
    margin-right: 1rem;
}

.user-name input, .password input {
    border-radius: 5px;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.87);
    font-size: 1.2rem;
    font-weight: bold;
}

.user-name input::placeholder, .password input::placeholder {
    opacity: .5;
    font-weight: 200;
}

.user-name input:focus, .password input:focus {
    outline: none;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 2rem 0 1rem 0;
}

.btn {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.btn:active {
    transform: scale(.97);
   }

.btn-login {
    background-color: rgb(52, 97, 245);
}

.btn-reset {
    background-color: tomato;
}

.btn-success {
    padding: 1rem;
    font-size: 1.2rem;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
}


.main {
    position: relative;
}

/* LOGIN PAGE END */

/* NAV BAR START */

.nav-bar {
    background-color: var(--dark-bg);
    color: var(--text-w);
    position: absolute;
    left: 0;
    text-align: center;
    width: 300px;
    height: 78vh;
    font-size: 4rem;
}

.nav-list-item .nav-btn {
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    transition: all .2s ease-in-out;
}

.nav-btn.active {
    color: var(--green-bg);
}

.nav-btn:hover {
    transform: scale(1.1);
}

/* NAV BAR END */

/* MAIN PAGE START */

.main-page {
    position: absolute;
    top: 30%;
    left: 50%;
    color: var(--text-dark);
}

.main-page .page-header, .check-book-page-header {
    font-size: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.acc-numbers-list {
    list-style-type: none;
    margin: 2rem;
}

.acc-number-list-item .nav-btn {
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--text-dark);
    border: none;
    transition: all .2s ease-in-out;
}

lord-icon {
    position: absolute;
    top: 0;
    left: 40%;
}

/* MAIN PAGE END */

.main-page .check-book-req {
   width: 40vw;
   transform: translate(-35%, 20%);
}

.check-book-header {
    margin-bottom: 3rem;
}

.create-form {
    position: absolute;
    top: 0;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 5rem;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%;
}

input[type=text], input[type=password], input[type=date], input[type=number], input[type=email], .form-select {
    width: 350px;
}

label {
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.input input.u-name, .input input.p-word {
    width: 350px;
}

.cancel-btn {
    position: absolute;
    top: -5%;
    left: 100%;
}

.users {
    position: relative;
    top: 0;
    left: 50%;
}

.users h2 {
    margin: 0 0 3rem 0;
    font-size: 3rem;
    transform: translateY(20%);
}

.container {
    position: relative;
    left: 5%;
}
.pagination {
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateY(150%);
    margin: 3rem auto;
}

.page-item.active {
    transform: scale(1.5);
}

.page-link {
    transition: all .1s ease-in-out;
}

.page-link:hover, .page-link:active {
    transform: scale(1.1);
}

.alert {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem auto;
    z-index: 5;
    transition: all .2 ease-in-out;
    animation: showAlert .2s ease-in-out;
}

@keyframes showAlert {
    0% {
        opacity: 0.1;
        transform: scale(0.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

.btn.btn-success.btn-submit::before {
    content: 'Double Click to Create Account!';
    width: 180px;
    height: 20px;
    background-color: #000;
    color: var(--text-w);
    display: none;
    font-size: 12px;
    position: absolute;
    left: 75%;
    text-align: center;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.btn.btn-success.btn-submit::before.btn-submit:active {
    display: block;
    position: absolute;
    left: 75%;
    text-align: center;
}

.btn.btn-success.btn-submit:hover.btn-submit::before {
    display: block;
}

.td-update-acc-info {
    width: 30px;
    margin: 0 auto;
}

.update-acc-btn {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

th, tr, td {
    text-align: center;
}

.update-success-acc-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.edit-input {
    width: 50px;
    height: 40px;
    margin: 1rem;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

.edit-input:focus {
    outline: 3px solid rgb(110, 189, 110);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}







